body {
  box-sizing: border-box;
  margin: 0px;
  font-family: sans-serif;
  font-size: 16px;
}
/* main container or wrapper  */
.main-cont {
  width: 100%;
  margin: auto;
  border: 0.5px solid black;
  height: 100vh;
  padding: 0px;
  background-color: rgb(236, 246, 250);
}

/* the search bar container  */
#search-col {
  margin: 5px;
  background-color: rgb(252, 252, 252);
  padding: 20px;
  width: 25%;
  left: 10px;
}
/* delete x gutter on rows  */
.row {
  --bs-gutter-x: none;
}

/* h4 margin adjusts  */
h4 {
  margin-top: 10px;
}

/* h4 heading for 5 day forecast  */
#day-forcast {
  padding: 20px;
}

/* paragraph styling  */
p {
  font-size: 12px;
  font-weight: lighter;
}

/* list item styling  */
.city-list {
  padding: 20px;
}

/* Daily forecast box styling  */
#weather-box {
  margin-top: 20px;
  font-size: 16px;
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

/* remove margin and text text align for li  */
.list-group-item {
  text-align: left;
  margin-left: none;
}

/* remove bullets from li  */
li {
  list-style: none;
  font-size: 20px;
}

/* 5 day forcast card text style  */
.card-text {
  font-size: 14px;
  margin: 10px 0px;
}

/* footer styling  */
footer {
  width: 100%;
  height: 25px;
  border: 1px solid black;
  position: fixed;
  bottom: 0px;
  background-color: rgb(236, 246, 250);
}

/* style for icon images on 5 day forecast cards */
.icon-img {
  height: 40px;
  width: 40px;
}

/* styling for icon on current day weather data  */
#current-icon {
  clear: both;
  float: left;
  position: relative;
  top: 10px;
  height: 40px;
  width: 40px;
}

/* current date position  */
#current-date {
  position: relative;
  top: 20px;
  margin-bottom: 20px;
}
